@page
@model OdeToFood.Pages.Restaurants.ListModel
@{
   ViewData["Title"] = "Restaurants";
}


<div class="container mt-2">
   <div class="row">
      <div class="col-6">
         <h2>Restaurants</h2>
      </div>
      <div class="2">
         <a asp-page="./Edit" class="btn btn-primary">
            <i class="fas fa-plus"></i>
            Add New
         </a>
      </div>
      <div class="col-4">
         <form method="get">
            <div class="form-group">
               <div class="input-group">
                  <input type="search" class="form-control" asp-for="SearchTerm" placeholder="search" />
                  <span class="input-group-append">
                     <button class="btn btn-outline-secondary">
                        <i class="fas fa-search"></i>
                     </button>
                  </span>
               </div>
            </div>
         </form>
      </div>
   </div>
   <div class="row">
      <div class="col-12">
         @if (Model.SearchTerm != null)
         {

            <span>search for: <strong>@Model.SearchTerm</strong></span>
         }
      </div>
   </div>
</div>


<div class="container">
   <div class="row">
      @foreach (var restaurant in Model.Restaurants)
      {
         <div class="col-6 mb-3">
            <partial name="_Summary" model="restaurant" />
         </div>
      }
   </div>
</div>


@section footer {
   <div>@Model.Message</div>
}
